/* Side-bar */
.side {
    position: fixed;
    width: 18%;
    height: 100vh;
    left: 0;
    top: 0;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.0001) 0%, rgba(255, 255, 255, 0.1) 100%);
    border-right: 1px solid rgb(216, 216, 216, 0.1);
}

.side-bar-header {
    width: 100%;
    padding: 30px 74px 4px 30px;

    border-bottom: 1px solid rgb(216, 216, 216, 0.1);
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 93%;
    left: 0;
    border-right: 1px solid rgba(216, 216, 216, 0.1);
}

.sidebar-nav {
    padding: 23px 0px;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 30px;
    cursor: pointer;
}

.menu-item:hover {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.0001) 0%, rgba(255, 255, 255, 0.1) 100%);   
}

.menu-item:hover>img{
    transform: rotate(180deg);
}

.sidebar-nav-submenu {
    display: none;
}

.sidebar-nav-submenu:hover {
    display: block;
}

.sidebar-nav-submenu li {
    position: relative;
    padding: 7px 0px 10px 92px;
    cursor: pointer;
}

.sidebar-nav-submenu li:hover {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.0001) 0%, rgba(255, 255, 255, 0.1) 100%);
}

.sidebar-nav-submenu li:hover svg>path{
    fill: #6868FF;
}

.sub-menu-icon {
    position: absolute;
    left: 53px;
    top: 47%;
    transform: translate(0, -50%);
}

.submenu .menu-item:hover ~ .sidebar-nav-submenu {
    display: block;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 29px 28px 15px;
}

.switch {
    display: block;
    position: relative;
    width: 45px;
    height: 24px;
    border: 1px solid rgb(216, 216, 216, 0.1);;
    border-radius: 20px;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 15px;
}

.switch::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: 3px;
    left: 5px;
    border-radius: 10px;
    background-color: #ffffff;
    transition: 0.2s;
}

#input-switch:checked + .switch::after {
    left: 22px;
    background-color: #6F6EFF;
}