/* MAIN */
.main {
    background-color: #2B2C3A;
    width: 100%;
    margin-left: auto;
}

.lecture-block {
    padding: 40px 55px 60px;
}

.lecture-block-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lecture-buttons {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.lecture-button {
    padding: 7px 13px;
    font-size: 12px;
    background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
    border-radius: 4px;
    cursor: pointer;
}

.lecture-button:hover {
    box-shadow: 0px 0px 12px rgb(107, 105, 249);
    transition: 0.3s;
}

.lecture-small-buttons {
    position: relative;
    align-self: center;
    height: 30px;
    width: 30px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 4px;
    text-align: center;
    background: transparent;
    cursor: pointer;
}

.small-buttons-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lecture-list {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    gap: 10px;
    padding: 25px 0 60px;
}

.lecture-list-item {
    max-width: 290px;
    width: 100%;
    height: 294px;
    border-radius: 6px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.0001) 0%, rgba(255, 255, 255, 0.1) 100%);
}

.lecture-list-item-image {
    height: 144px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-image: url("../images/maik-jonietz-_yMciiStJyY-unsplash.png");
}

.lecture-list-item-image::after {
    position: absolute;
    content: 'Лекция';
    top: 15px;
    left: 15px;
    font-size: 12px;
    padding: 4px 6px;
    background: #6F6EFF;
    border-radius: 3px;
}

.lecture-list-item:nth-child(2) .lecture-list-item-image{
    background-image: url("../images/2-ndimg.png");
}

.lecture-list-item:nth-child(3) .lecture-list-item-image{
    background-image: url("../images/3rdimg.png");
}

.lecture-list-item:nth-child(4) .lecture-list-item-image{
    background-image: url("../images/4img.png");
}

.lecture-list-item-text {
    padding: 15px 10px;
    height: 88px;
    line-height: 18px;
}

.lecture-list-item-title {
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 10px;
}

.lecture-list-item-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 15px;
    border-top: 1px solid rgba(216, 216, 216, 0.1);
}